<mat-form-field>
    <input #autoCompleteInput type="text" placeholder="{{placeholder}}" aria-label="Number" matInput [formControl]="formControl" [matAutocomplete]="auto">
    <button *ngIf="autoCompleteInput.value" mat-button matSuffix mat-icon-button
            aria-label="Clear" (click)="clear()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>