table {
  margin-top: 1em;
  width: 100%;
}

.mat-form-field {
  font-size: 18px;
  width: 100%;
}
ag-list {
  ::ng-deep .ag-grid-angular {
    height: 70vh;
  }
}

button {
  background-color: #0097b7;
  color: white;
}
