<div class="p-24">
  <mat-card>
    <div class="mb-8">
      <mat-progress-bar mode="indeterminate" *ngIf="!employee"></mat-progress-bar>
    </div>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Dane personalne</mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Imie</mat-label>
            <input matInput placeholder="Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nazwisko</mat-label>
            <input matInput placeholder="Surname" formControlName="surName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Pesel</mat-label>
            <input matInput type="number" placeholder="Pesel" formControlName="pesel">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rok urodzenia</mat-label>
            <input matInput type="number" placeholder="Rok urodzenia" formControlName="yearOfBirthday">
          </mat-form-field>
        </mat-card>
      </form>
      <form [formGroup]="personalAddressForm">
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Dane kontaktowe</mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Ulica</mat-label>
            <input matInput placeholder="Ulica" formControlName="street">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Numer mieszakania/domu</mat-label>
            <input matInput placeholder="Numer mieszkania/domu" formControlName="buildingNumber">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Miasto</mat-label>
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Kod pocztowy</mat-label>
            <input matInput placeholder="Kod pocztowy" formControlName="code">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="email" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telefon</mat-label>
            <input matInput type="tel" placeholder="telefon" formControlName="phone">
          </mat-form-field>
        </mat-card>
      </form>
      <form [formGroup]="taxOfficeAddressForm">
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Adres urzędu skarbowego</mat-card-title>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Adres</mat-label>
            <input matInput placeholder="Adres" formControlName="address">
          </mat-form-field>
        </mat-card>
      </form>

      <mat-card class="mat-elevation-z0">
        <mat-card-title>Umowa</mat-card-title>
        <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'deal')">
        <button mat-raised-button (click)="showImage('deal')" [disabled]="!isPhoto('deal')"><mat-icon>photo</mat-icon>
          Pokaż zdjęcie
        </button>
        <form [formGroup]="dealForm">
          <mat-form-field appearance="outline">
            <mat-label>Rodzaj umowy</mat-label>
            <mat-select formControlName="dealType">
              <mat-option value="Umowa o prace"> Umowa o prace </mat-option>
              <mat-option value="Umowa na zlecenie"> Umowa na zlecenie </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Miejsce pracy</mat-label>
            <input matInput placeholder="Adres" formControlName="place">
          </mat-form-field>
          <date-picker formControlName="startDate" appearance="outline" [isRequired]="true" placeholder="Data rozpoczęcia"></date-picker>
          <date-picker formControlName="endDate" appearance="outline" placeholder="Data zakończenia"></date-picker>
        </form>
      </mat-card>

      <mat-card class="mat-elevation-z0">
        <mat-card-title>Uprawnienia</mat-card-title>
        <form [formGroup]="permissionsGroup">

          <form [formGroup]="lifeguardForm">
            <mat-card-subtitle>Ratownik Wodny</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'lifeguard')">
            <button mat-raised-button (click)="showImage('lifeguard')" [disabled]="!isPhoto('lifeguard')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="releaseDate" appearance="outline" [isRequired]="true" placeholder="Data wydania"></date-picker>
          </form>

          <form [formGroup]="firstAidForm">
            <mat-card-subtitle>Kurs Kwalifikowanej Pierwszej Pomocy</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'firstAid')">
            <button mat-raised-button (click)="showImage('firstAid')" [disabled]="!isPhoto('firstAid')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="refreshedDate" appearance="outline" [isRequired]="true" placeholder="Data rozpoczęcia"></date-picker>
            <date-picker formControlName="endDate" appearance="outline" [isRequired]="true" placeholder="Data zakończenia"></date-picker>
          </form>

          <form [formGroup]="usefulPermissionsGroup">
            <mat-card-subtitle>Uprawnienia przydatne w ratownictwie</mat-card-subtitle>
            <mat-label>Uprawnienia</mat-label>
            <div>
              <mat-checkbox formControlName="frogman">Płetwonurek</mat-checkbox>
              <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'frogman')">
              <button mat-raised-button (click)="showImage('frogman')" [disabled]="!isPhoto('frogman')"><mat-icon>photo</mat-icon>
                Pokaż zdjęcie
              </button>
            </div>
            <div>
              <mat-checkbox formControlName="yachtSailor">Żeglarz Jachtowy</mat-checkbox>
              <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'yachtSailor')">
              <button mat-raised-button (click)="showImage('yachtSailor')" [disabled]="!isPhoto('yachtSailor')"><mat-icon>photo</mat-icon>
                Pokaż zdjęcie
              </button>
            </div>
            <div>
              <mat-checkbox formControlName="helmsman">Sternik Motorowodny</mat-checkbox>
              <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'helmsman')">
              <button mat-raised-button (click)="showImage('helmsman')" [disabled]="!isPhoto('helmsman')"><mat-icon>photo</mat-icon>
                Pokaż zdjęcie
              </button>
            </div>
            <div>
              <mat-checkbox formControlName="swimmingInstructor">Instruktor Pływania</mat-checkbox>
              <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'swimmingInstructor')">
              <button mat-raised-button (click)="showImage('swimmingInstructor')" [disabled]="!isPhoto('swimmingInstructor')"><mat-icon>photo</mat-icon>
                Pokaż zdjęcie
              </button>
            </div>
          </form>
          <mat-form-field appearance="outline">
            <mat-label>Inne uprawnienia</mat-label>
            <input matInput placeholder="Inne..." formControlName="anotherPermission">
          </mat-form-field>
          <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'anotherPermission')">
          <button mat-raised-button (click)="showImage('anotherPermission')" [disabled]="!isPhoto('anotherPermission')"><mat-icon>photo</mat-icon>
            Pokaż zdjęcie
          </button>

          <form [formGroup]="medicalExaminationForm">
            <mat-card-subtitle>Badania lekarskie</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'medicalExamination')">
            <button mat-raised-button (click)="showImage('medicalExamination')" [disabled]="!isPhoto('medicalExamination')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="refreshedDate" appearance="outline" placeholder="Data rozpoczęcia"></date-picker>
            <date-picker formControlName="endDate" appearance="outline" placeholder="Data zakończenia"></date-picker>
          </form>

          <form [formGroup]="OHSTestsForm">
            <mat-card-subtitle>Badania BHP</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'ohstests')">
            <button mat-raised-button (click)="showImage('ohstests')" [disabled]="!isPhoto('ohstests')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="refreshedDate" appearance="outline" placeholder="Data rozpoczęcia"></date-picker>
            <date-picker formControlName="endDate" appearance="outline" placeholder="Data zakończenia"></date-picker>
          </form>

          <form [formGroup]="sanelForm">
            <mat-card-subtitle>Sanepid</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'sanel')">
            <button mat-raised-button (click)="showImage('sanel')" [disabled]="!isPhoto('sanel')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="endDate" appearance="outline" placeholder="Data zakończenia"></date-picker>
          </form>

          <form [formGroup]="studentCardForm">
            <mat-card-subtitle>Legitymacja Studencka</mat-card-subtitle>
            <input type="file" accept=".png,.jpg" class="mb-8"  (change)="onFileSelected($event, 'studentCard')">
            <button mat-raised-button (click)="showImage('studentCard')" [disabled]="!isPhoto('studentCard')"><mat-icon>photo</mat-icon>
              Pokaż zdjęcie
            </button>
            <date-picker formControlName="endDate" appearance="outline" placeholder="Data zakończenia"></date-picker>
          </form>
        </form>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!formGroup.valid || !formGroup.dirty">
        <mat-icon>save</mat-icon>
        Zapisz
      </button>
      <button mat-raised-button color="warn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        Usuń
      </button>
    </mat-card-actions>
  </mat-card>
</div>
