
mat-icon {
    font-size: 120px;
    display: contents;
}
dl dt {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

dl {
    max-width: 300px;
    text-align: justify;
}
.logo {
    text-align: center;
}

#error {
    color: #B71C1C;
}

#warn {
    color: #e3e878;
}

#info {
    color: #4b8cb7;
}