<div fxLayout="row" class="general" (click)="setNotificationAsClicked(notificationItem.id)" [class.wasClicked]="notificationItem.checked" routerLink="/main/employees/{{notificationItem.employeeId}}">
  <div fxLayout="column" class="p-8 w-100">
    <p><strong>{{notificationItem.employeeFirstName}}</strong></p>
    <p><strong>{{notificationItem.employeeSurName}}</strong></p>
  </div>
  <div>
    <p class="desc">{{notificationItem.description}}</p>
  </div>
  <div class="container" *ngIf="!notificationItem.checked" >
    <mat-icon color="primary">lens</mat-icon>
  </div>
</div>
<mat-divider></mat-divider>
