<div class="login">
  <mat-card>
    <div class="mb-8">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoginProgress"></mat-progress-bar>
    </div>
    <h2-heading>Login</h2-heading>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <div fxLayout="row">
          <input matInput formControlName="login" placeholder="Podaj login...">
          <mat-icon>person_outline</mat-icon>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <div fxLayout="row">
          <input type="password" matInput formControlName="password" placeholder="Podaj hasło...">
          <mat-icon>edit</mat-icon>
        </div>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="requestToLogin()" [disabled]="!loginForm.valid">
      Login
      <mat-icon>done_outline</mat-icon>
    </button>
  </mat-card>
</div>
