<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar-menu">
      <div>
        <img src="/assets/images/logos/logos-150x150.png">
        <span class="center-text">{{projectName}}</span>
      </div>
    </mat-toolbar>
    <nav-menu-items [items]="menuConfigItems"></nav-menu-items>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar-general">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="right-corner">
        <notifications></notifications>
        <profiler></profiler>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
